.p11{
    margin-left: 10px;
    width: 420px;
      height: 30px;
      background-color:white;
      color: black;    
}
.lgbtn{
  color: white;
  background-color: black;
  width: 150px;
  height: 50px;
}
