.s1{
    background-color: black;
    width: px;
    height:710.1px ;
    margin-top: -45px;
}
.s2{
    color: red;
    text-align: center;
    padding-top:50px;
    font-size: xx-large;
}
.s3{
    width: 500px;
}
.s4{
    color: red;
    font-size: xx-large;
}